# Ignore node_modules directory
/node_modules

# Ignore .env files
.env

# Ignore log files
*.log

# Ignore cache directories
/frontend/node_modules/.cache/


# Ignore build output
/dist/
/build/
frontend/node_modules/.cache/
