.admin-layout {
  display: flex;
  min-height: 100vh;

  .sidebar-wrapper {
    flex-shrink: 0;
    width: 250px; // Adjust this value if needed
    padding: 8px;
    background-color: #f0f0f0; // Adjust this to match your desired background color
  }

  .admin-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #ffffff; // Adjust this to match your desired background color
  }
}