.add-category-content {
    padding: 20px;
    text-align: left;
}

.add-category-content h4 {
    font-weight: 600;
    font-size: 32px;
    color: orangered;
    margin: 12px 0;
}

.add-category-content p {
    color: black;
}

.add-category-form-card {
    margin: 16px 0;
    border: none;
    background-color: orangered;
    border-radius: 12px;
    padding: 16px;
}

.add-category-input-div {
    border: 1px solid orangered;
    padding: 12px;
    border-radius: 12px;
    margin: 12px 0;
    background-color: white; /* Ensure the input field has a visible background */
}

.add-category-image-div {
    border: 1px dashed orangered;
    padding: 0;
    border-radius: 12px;
    margin: 12px 0;
    transition: 0.2s ease-in-out;
}

.add-category-image-div:hover {
    background-color: white;
    cursor: pointer;
}

.add-category-input-div p {
    font-size: 14px;
    margin-bottom: 8px; /* Space between label and input */
}

.add-category-input-div input {
    outline: none;
    border: none;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
    background-color: #f9f9f9; /* Lighter background color for better contrast */
}

.category-image-div {
    height: 236px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-category-btn {
    padding: 12px;
    border-radius: 12px;
    margin-right: 12px;
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
    transition: 0.2s ease-in-out;
}

.add-category-btn:hover {
    background-color: orangered;
    color: #fff;
}

.category-image-div img {
    height: 236px;
    width: 100%;
    object-fit: contain;
}

.upload-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-icon {
    font-size: 48px;
    color: orangered;
    margin-bottom: 10px;
}
